@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
ul {
  list-style: none;
}
.navbar-brand {
  font-weight: bold;
}
.nav-link {
  color: black;
}
.nav-link:hover,
.nav-link:active {
  color: rgb(13, 0, 128);
}
.navbar-brand {
  color: #000;
}
.navbar-toggler {
  color: #000;
}
.slider {
  position: relative;
}
.caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.product-name {
  font-size: 30px;
  font-weight: 600;
}
.caption h2 {
  font-size: 54px;
  font-weight: bold;
  color: #fff;
}
.caption p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
}
@media (max-width: 575.98px) {
  .caption h2 {
    font-size: 26px;
  }
  .caption {
    padding-left: 10px;
  }
  .caption p {
    font-size: 16px;
  }
  .btn-filter {
    font-size: 12px;
  }
  .product-heading {
    font-size: 26px;
  }
  .single-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .product-name {
    font-size: 26px;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .caption h2 {
    font-size: 30px;
  }
  .caption p {
    font-size: 18px;
  }
  .single-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .product-name {
    font-size: 26px;
  }
}

.card {
  margin-top: 20px;
}
.card-body {
  padding-top: 10px;
  padding-bottom: 5px;
}
.card-wrap {
  margin-bottom: 20px;
}
.card-img-top {
  padding: 10px;
  padding-bottom: 0px;
}
.single-img {
  width: 400px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.lead {
  font-size: 17px;
  margin-bottom: 15px;
}
.related-product {
  margin: 30px 0px;
}
.cart-wrap{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 15px 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .caption h2 {
    font-size: 36px;
  }
  .caption p {
    font-size: 20px;
  }
  .product-name {
    font-size: 26px;
  }
  .cart-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .cart-img img{
    margin-bottom: 10px;
  }
}
@media (max-width: 490px) {
  .caption h2 {
    font-size: 18px;
  }
  .caption p {
    font-size: 12px;
  }
  .btn-filter {
    font-size: 11px;
  }
  .product-heading {
    font-size: 24px;
  }
  .single-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .product-name {
    font-size: 26px;
  }
  .cart-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .cart-img img{
    margin-bottom: 10px;
  }
}
.cart-summary{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 15px 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.increment-btn{
  margin-right: 14px;
}
.decrement-btn{
  margin-left: 14px;
  margin-right: 14px;
}
.cart-img img{
  width: 50px;
}
.cart-p{
  margin-bottom: 5px;
}
.footer{
  margin-bottom: 0;
  text-align: center;
  background: #000;
  color: white;
  font-size: 15px;
  padding: 12px 0px;
}